# see detail https://umijs.org/zh-CN/docs/env-variables
# port number
PORT=8000

# Babel cache, 如果設置 none 將不開啟 babel 緩存，預設開啟
BABEL_CACHE=none

# 在 build 時有用，決定要不要針對 css, js 做壓縮
# COMPRESS=none

# localhost 開啟 https 功能
# HTTPS=1

# AirTable parameters, plz check these in airtable doc
AIRTABLE_KEY="patH1oD0kEJ0U6OPe.1c1b12177dc97c21d0d924108bbfd988818d23b00fe037fb4da9a7913049479e"
AIRTABLE_I18N_BASE="appo7Hr0u571l7bpR"
AIRTABLE_I18N_TABLE="i18n"
AIRTABLE_I18N_VIEW="Grid view"

GOOGLE_CLIENT_ID="820909422198-gat7h1vkebn88olkgavio3rr73ohl96p.apps.googleusercontent.com"

