<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="服事小幫手 - Jethro" />
    <meta name="keywords" content="Church, Jethro, 服事" />
    <meta
      name="description"
      content="Jethro 服事小幫手, 連結Google Drive幫你搞定服事表"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta property="og:site_name" content="服事小幫手 - Jethro" />
    <title>服事小幫手 - Jethro</title>
    <link rel="icon" href="<%= context.config.publicPath +'favicon.svg'%>" type="image/x-icon" />
  </head>
  <body>
  </body>
</html>
